/.idea
*.idea
/.vscode
/D.pealeii
/O.vulgaris
*/__pycache__
*.pyc
/*.pyc
Code/Pileup/__pycache__/*
Code/Pileup/__pycache__/
*.ipynb
/*.ipynb
*.ipynb_checkpoints*
Code/Notebooks/*.svg
Code/Notebooks/*.png
LOGS.md
CloudSetup.md