/.idea
*.idea
/.vscode
/D.pealeii
/O.vulgaris
/O.bim
*/__pycache__
*.pyc
/*.pyc
Code/Pileup/__pycache__/*
Code/Pileup/__pycache__/
*.ipynb
/*.ipynb
*.ipynb_checkpoints*
Code/Notebooks/*.svg
Code/Notebooks/*.png
Code/Notebooks/MPILEUP/*.svg
Code/Notebooks/*.tsv
Code/Notebooks/*.fasta
LOGS.md
CloudSetup.md